*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.address-box{
    /* background-color: blue; */
    height: 500px;
    width: 700px;
    border: 3px solid black;
    margin-left: 400px;
    margin-top: 100px;
}
.details{
    margin-bottom: 30px;
    margin-left: 100px;
}
.navbar{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}